package templates

import ( 
    "github.com/sungales/projetoartigo/models"
)

templ ArtigoTemplate(artigos []models.Artigo) { 
    <ul>
        for _, a := range artigos { 
            <li>{ a.Descricao }</li>
            <li>{ a.CreatedAt }</li>
        }
    </ul>
}